.acWishBlock{
    background-color: rgba(242, 244, 248, 1);
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap:20px;

}

.accWishlist{
    display: flex;
    flex-direction: column;
    padding-top: 104px;
    padding-left: 41px;
    height: auto;

}

.accWishlistTitle p{
    flex: 1 1 auto;         
    min-width: 0;    
    font-family: 'Mulish';
    font-size: 32px;
    font-style: bold;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin: 0;
    text-align: left;


}

.accWishlistTitle{
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1.5px solid;
    border-color: rgba(204, 221, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 100%;
}

.searchWishes{
    align-self: flex-end;
    position: relative;
    flex-shrink: 0;
}

.searchWishes input{
    padding: 10px 16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(14, 32, 66, 0.5);
    width:346px;
    letter-spacing: 0.3px;
    font-size: 14px;
    font-weight: 300;
    
}

.searchButton {
    border: none;
    max-width: 56px;
    max-height: 34px;
    outline: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 12px;
    transform: translateY(-50%);
    top: 50%;
  }
  



.searchButton svg {
    width: 24px;
    height: 24px;

  }


  .wishlistSet {
    padding: 24px;
    display: grid;
    gap: 5.25px;
    grid-template-columns: repeat(5, 1fr); 
    row-gap: 7px;
}

.wishlistSet > * {
    max-width: 200px; 
    margin: 0 auto; 
}

.backButtonTitleDiv{
    display: none;
}
@media (max-width: 768px) {

    .backButtonDiv{
        display: flex;
        gap:8px;
    }
    .menu{
        display: none;
    }
    .acWishBlock{
        padding: 0;
    }
    .accWishlist{
        padding: 0;
    }
    .accWishlistTitle p{
        font-size: 28px;

    }

    .backButtonTitleDiv{
        display: flex;
        flex-direction: column;
    }

    .buttonBack{
        display: flex;
        gap:12px;
        align-items: center;
    }
    .accWishlistTitle {
        margin-bottom: 16px;
        margin-top: 24px;
        padding-bottom: 16px;
        padding-left: 16px;
        border-bottom: none;
        gap:24px;
        align-items: flex-start;
        justify-content: flex-start;
        width: 358px;
    }

    .searchWishes input{
        padding: 7px 12px;
        width: 210px;
        height: 20px;
        font-size: 12px;
    }

    .searchButton{
        display: none;
    }

    .sbSubTitle{
        font-size: 14px;
    }

    .pkP{
        display: none;
    }

    .back{
        font-size: 16px;
    }

    .wishlistSet{
        padding: 0;
        max-height: 645px;
        grid-template-columns: repeat(2, 1fr);
    }

    
  }