.login-banner {
    box-shadow: 0px 4px 11.5px -3px color-mix(in srgb, var(--minor-dark-blue) 25%, transparent);
    position: relative;
    border-radius: 8px;
}

.login-banner img {
    width: 100%;
}

.login-banner-message-block {
    position: absolute;
    top: 20%;
    left: 12.5%;
    /* transform: translateY(-50%); */
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-banner-message-block p {
    white-space: nowrap;
    margin: 0;
}

.login-banner-title {
    font-weight: 400;
    font-size: 1.75vw;
    line-height: 3vw;
}

.login-banner-description {
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 1.1vw;
}

.login-banner-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
}

.login-banner-buttons a {
    font-size: 0.8vw;
    padding: 0.3vw 1.5vw;
}

.button-login {
    border: 2.5px solid var(--minor-blue);
    color: var(--minor-blue);
}

.button-login:hover {
    border-color: var(--main-secondary);
    color: var(--main-secondary);
}


.login-bann-butt,
.login-bann-butt2{
    width: 111px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-bann-butt2{
    color:rgba(242, 244, 248, 1);
    border-color:rgba(204, 221, 255, 1);
}

@media (max-width: 400px) {
    .login-banner {
        margin-left: 16px;
        margin-right: 16px;
    }


    .login-banner img {
        width: 358px;
        height: 441px;
        
    }

    .login-banner-message-block {
        position: absolute;
        top: 16px;
        /* transform: translateY(-50%); */
        width: 310px;
        height: 134px;
        display: flex;
        left:24px;
        flex-direction: column;
        align-items: center;

    }

    .login-banner-title {
        color:rgba(14, 32, 66, 1) !important;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        margin: 0;
    }

    .login-banner-description {
        color:rgba(14, 32, 66, 1) !important;
        font-size: 14px;
        line-height: 18px;
        margin: 0;
        margin-top: 12px;
    }

    .login-banner-buttons {
        max-height: 40px;
        margin-top: 36px;
    }

    .login-bann-butt,
    .login-bann-butt2{
        height: 40px;
        width:105px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-bann-butt2{
        border-color: rgba(74, 123, 217, 1);
        color: rgba(14, 32, 66, 1);
    }
}