.product-card {
	padding: 14px;
	width: 225px;
	height: 361px;
	border-radius: 8px;
	box-shadow: 0px 4px 11.5px -5px color-mix(in srgb, var(--minor-dark-blue) 25%, transparent);
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex-shrink: 0;
	text-decoration: none;
	border: 2px solid var(--minor-objects);
}

.product-card-big {
	padding: 24px;
	width: 382px;
	height: 534px;
}

.product-card div:has(svg) {
	pointer-events: none;
}

.product-card:hover {
	border-color: var(--minor-blue);
}

.product-card-image-frame {
	width: 100%;
	height: 193px;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
}

.product-card-big .product-card-image-frame {
	height: 334px;
}

.product-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product-card-discount-icon {
	position: absolute;
	top: 6px;
	right: 6px;
}

.product-card-discount-icon,
.product-card-discount-icon svg {
	width: 64px;
	height: 40px;
}

.product-card-big .product-card-discount-icon,
.product-card-big .product-card-discount-icon svg {
	width: 99px;
	height: 62px;
}

.product-card-discount-icon svg {
	filter: drop-shadow(0px 4px 8px 0px color-mix(in srgb, var(--minor-text) 25%, transparent));
}

.product-card-discount-percent {
	font-weight: 700;
	position: absolute;
	top: 10px;
	right: 20px;
	width: 40px;
	text-align: center;
}

.product-card-big .product-card-discount-percent {
	top: 16px;
	right: 32px;
	width: 58px;
}

.product-card p {
	text-align: center;
	line-clamp: 2;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.product-card-stats {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 14px
}

.product-card-big .product-card-stats {
	gap: 16px
}

.product-card-stat-container {
	display: flex;
	align-items: center;
}

.product-card-stat {
	font-weight: 500;
}

.product-card-big .product-card-stat {
	font-weight: 400;
}

.product-card-stat-icon,
.product-card-stat-icon div {
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-card-big .product-card-stat-icon,
.product-card-big .product-card-stat-icon div {
	width: 28px;
	height: 28px;
}

.product-card-stat-icon svg {
	height: 18px;
}

.product-card-big .product-card-stat-icon svg {
	height: 20px;
}

.product-card-cost-container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 8px;
}

.product-card-cost {
	font-weight: 500;
}

.product-card-big .product-card-cost {
	font-weight: 600;
}

.product-card-old-cost {
	text-decoration: line-through;
	opacity: 0.5;
}

.produt-card-cost-cents {
	font-weight: 700;
	font-size: 10px;
}

.product-card-big .produt-card-cost-cents {
	font-weight: 800;
	font-size: 16px;
}