
.fpBlock0{
	padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: center;
}

.fpBlock{
	display: flex;
    margin-top:56px;
    margin-bottom: 56px;
    flex-direction: column;
    justify-content: space-between;
}

.emailInputBlock{
    margin-top: 169px;
    margin-bottom: 169px;
}