
.loginBlock0{
	padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: center;
}

.loginBlock{
	display: flex;
    margin-top:56px;
    margin-bottom: 56px;
    flex-direction: column;
    justify-content: space-between;
}

.inputDataBlock{
	display: flex;
	flex-direction: column;
	gap:16px;
	justify-content: center;
}


.showButton{
	background: transparent;
	border: none;
	padding: 0 !important;
   
   
}