.menuBlock{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:40px;
    padding-bottom: 100px;
}

.breadCrumbs{
    max-width: 102px;
    max-height: 24px;
    display: flex;
    justify-content: flex-start;
    gap:6px;
    align-items: center;
    padding: 24px 16px;
}

.bcText{
    max-width: 72px;
    max-height: 24px;
}

.bcText p{
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    color:rgba(14, 32, 66, 1);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    
}

.AMblock{

    max-width: 382px;
    max-height: 912px;
}

.AMblock0{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 912px;
    padding: 24px 16px;
    display: flex;
    gap:24px;
    border-right: 1.5px solid;
    border-color: rgba(204, 221, 255, 1);
    margin-bottom: 28px;
}

.accountInfo{
    display: flex;
    flex-direction: row;
    max-width: 350px;
    gap:28px;
}



.accMenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 350px;
    max-height: 168px;
}

.menuChoice{
    max-width: 350px;
    max-height: 56px;
    padding: 16px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menuChoice p{
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 400;
    letter-spacing:0.3px;
    color:rgba(14, 32, 66, 1);
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    text-align: left;
}

.active {
    background-color:rgba(224, 235, 255, 1);
    border-radius: 4px;
  }