/* buttons */
.nextStepButton {
	width: 100%;
	max-height: 52px;
	background-color: rgba(184, 234, 72, 1);
	padding: 14px 12px;
	border-radius: 4px;
	border: none;
	font-size: 16px;
	color: rgba(14, 32, 66, 1);
	line-height: 24px;
	letter-spacing: 0.3px;
}
.anchorButton{

    height: 32px;
    opacity: 50%;
    background-color: transparent;
    border: 1.5px solid rgba(74, 123, 217, 1);
    padding: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showButton,
.hideButton {
	background: transparent;
	border: none;
	padding: 0 !important;
}

.buttonGroup{
    display: flex;
    width: 100%;
    gap:14px;
}
.discountBlock{
    position: absolute;
	top: 12px;
	right: 8px;
}

.removeBtn {
	position: absolute;
	top: 12px;
	right: 8px;
	background-color: rgba(244, 250, 255, 1);
	border: 1.5px solid rgba(74, 123, 217, 1);
	border-radius: 2px;
	font-family: 'Mulish';
	font-size: 14px;
	padding: 0;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
    width:85px;
    height: 30px;
    letter-spacing: 0.3px;
    font-weight: 400;
    text-align: center;
    color: rgba(14, 32, 66, 1);
}

.removeBtn:hover {
	background-color: rgba(14, 32, 66, 0.05);
}


.sendCodeAgainBtn {
	background-color: transparent;
	border: none;
}

.sendCodeAgainBtn span {
	font-family: 'Mulish';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.3px;
	color: rgba(14, 32, 66, 1);
}


.secondaryButton {
	width: 100%;
	max-height: 52px;
	background-color: transparent;
	padding: 14px 12px;
	border-radius: 4px;
	border: 2.5px solid rgba(74, 123, 217, 1);
	font-size: 16px;
	color: rgba(14, 32, 66, 1);
	line-height: 24px;
	letter-spacing: 0.3px;

}

.tetriatyButton{
    width:100%;
    max-height: 52px;
    background-color: transparent;
    padding: 14px 12px;
    border-radius: 4px;
    font-size: 16px;
    color: rgba(14, 32, 66, 1);
    line-height: 24px;
    letter-spacing: 0.3px;
}

.destructiveButton{
    width:100%;
    max-height: 52px;
    background-color: transparent;
    padding: 14px 12px;
    border-radius: 4px;
    border: 2.5px solid rgba(234, 72, 72, 1);
    font-size: 16px;
    color: rgba(14, 32, 66, 1);
    line-height: 24px;
    letter-spacing: 0.3px;

}


/* pagination */
.fixedPagination {
	position: static;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-bottom: 64px;
	z-index: 1000;
	min-width: 400px;
}

/* modal windows */
.modalBackdrop {
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.modal {
	background: rgba(244, 250, 255, 1);
	padding: 24px;
	border-radius: 8px;
	position: relative;
	max-width: 1280px;
	width: 90%;
	max-height: 680px;

}


.modalBlock {
	gap: 24px;
	display: flex;

}

.cnModal {
	background: rgba(244, 250, 255, 1);
	padding: 24px;
	border-radius: 8px;
	position: relative;
	max-width: 565px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 24px;

}

/* modal windows input */
.inputWrappersBlock {
	margin-bottom: 5.3125rem;
}

.inputWrapper {
	border: 1.5px solid rgba(14, 32, 66, 0.5);
	border-radius: 4px;
	position: relative;
	height: 58px;
	margin: 0 !important;
	padding: 20px 18px 20px !important;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.inputWrapper legend {
	padding: 0 4px;
	font-size: 16px;
	font-family: 'Mulish';
	line-height: 24px;
	letter-spacing: 0.3px;
	color: rgba(14, 32, 66, 1);
}

.inputWrapper input {
	width: 100%;
	padding-right: 48px;
	border: none;
	outline: none;
	font-size: 14px;
	padding: 0 !important;
	font-family: 'Mulish';
	line-height: 24px;
	letter-spacing: 0.3px;
	color: rgba(14, 32, 66, 1);
	align-self: center;
	background-color: rgba(244, 250, 255, 1);

}

.enterCode {
	display: flex;
	gap: 8px;
	max-width: 292px;
	justify-content: center;
	margin-left: 74px;
	margin-right: 74px;
}

.codeInput,
.codeInput:active {
	background-color: transparent;
	border: 1.5px solid rgba(14, 32, 66, 0.5);
	width: 42px;
	height: 48px;
	border-radius: 4px;
	font-family: 'Mulish';
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	letter-spacing: -0.4px;
}


/* modal windows span */
.info {
	display: flex;
	flex-direction: column;
	gap: 6px;
	justify-content: center;
}

.infoSpan0 {
	font-family: 'Mulish';
	font-weight: 600;
	font-size: 40px;
	margin: 0;
	text-align: center;
	letter-spacing: -0.8px;
	line-height: 48px;
}

.infoSpan1 {
	font-family: 'Mulish';
	font-weight: 500;
	font-size: 24px;
	margin: 0;
	text-align: center;
	letter-spacing: -0.5px;
	line-height: 28px;
}

.modalInfoSpan {
	font-family: 'Mulish';
	font-weight: 600;
	font-size: 32px;
	margin: 0;
	letter-spacing: -0.5px;
	line-height: 36px;
}

.modalInfo{
    padding-bottom: 14px;
    border-bottom: 1.5px solid rgba(204, 221, 255, 1);
    width:100%;
}

/* error */
.errorText {
	display: flex;
	color: #EA4848;
	padding-left: 18px;
	font-size: 14px;
	line-height: 24px;
	justify-content: flex-start;
}

.errorLegend {
	color: #EA4848 !important;
}

.errorCode {
	display: block;
	width: 100%;
	color: #EA4848 !important;
	font-size: 14px;
	letter-spacing: 2%;
	line-height: 24px;
	text-align: center;
}