/* buttons */
.nextStepButton{
    width:100%;
    height: 52px;
    background-color: rgba(184, 234, 72, 1);
    padding: 14px 12px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: rgba(14, 32, 66, 1);
    line-height: 24px;
    letter-spacing: 0.3px;
}

.showButton{
    background: transparent;
    border: none;
    padding: 0 !important;
   
   
}

/* modal windows */
.modalBackdrop {
	position: fixed;
	top:60px;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.modal {
	background:rgba(244, 250, 255, 1);
	padding: 24px;
	border-radius: 8px;
	position: relative;
	max-width: 1280px;
	width: 90%;
    max-height: 680px;

}


.modalBlock{
    gap: 24px;
    display: flex;
   
}

/* modal windows input */
.inputWrappersBlock{
    margin-bottom: 5.3125rem;
}

.inputWrapper {
    border: 1.5px solid rgba(14, 32, 66, 0.5);
    border-radius: 4px;
    position: relative;
    height: 58px;
    margin: 0 !important;
    padding: 20px 18px 20px !important;
    display: flex;
    align-items: center; 
    box-sizing: border-box;
  }
  
  .inputWrapper legend {
    padding: 0 4px;
    font-size: 16px;
    font-family: 'Mulish';
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(14, 32, 66, 1);
  }
    
  .inputWrapper input {
    width: 100%;
    padding-right: 48px;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0 !important;
    font-family: 'Mulish';
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(14, 32, 66, 1);
    align-self: center;
    background-color: rgba(244, 250, 255, 1);

  }

  
  /* modal windows span */
.info{
	display: flex;
    flex-direction: column;
    gap:6px;
    justify-content: center;
}

.infoSpan0{
	font-family: 'Mulish';
    font-weight: 600;
    font-size: 40px;
    margin:0;
    text-align: center;
    letter-spacing: -0.8px;
    line-height: 48px;
}

.infoSpan1{
	font-family: 'Mulish';
    font-weight: 500;
    font-size: 24px;
    margin:0;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 28px;
}