.footer-upper {
    padding: 32px 0;
    display: flex;
    justify-content: center;
}

.footer-upper-inner {
    display: flex;
    justify-content: space-between;
    width: 768px;
}

.footer-upper-inner-column {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.footer-upper-inner-column p {
    margin-bottom: 12px;
}

.footer-upper-inner-column a {
    text-decoration: none;
}

.footer-upper-inner-column a:hover {
    color: var(--minor-blue);
}

/* todo */

.footer-lower {
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.footer-lower-inner {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer-logo {
    width: 102px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo * {
    fill: var(--main-text);
    width: 82px;
    height: 20px;
}

.footer-icons-container {
    display: flex;
    justify-content: space-between;
}

.footer-icon, .footer-icon svg {
    width: 32px;
    height: 32px;
}
