.cartProductFrame {
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 24px;
}

.cartProductImage {
    width: 170px;
    height: 170px;
    border-radius: 4px;
}

.cartProductFrame p {
    margin: 0;
    flex-grow: 1;
}

.cartProductQuantity {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}

.cartProductQuantity svg:hover {
    cursor: pointer;
}

.cartProductQuantityChange {
    flex-grow: 1;
    display: flex;
    align-items: end;
    gap: 16px;
    padding: 6px;
}

.cartProductCalculatedCost {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.cartProductCalculatedCost sup {
    font-size: 12px;
}

.cartProductCalculatedUnitCost {
    color: color-mix(in srgb, var(--minor-text) 50%, transparent);
}

.cartProductCalculatedUnitCost sup {
    font-size: 10px;
}


@media (max-width: 768px) {
    .cartProductFrame{
        padding: 12px;
        gap:8px;
    }

    .cartProductImage{
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    .cartProductFrame p{
        font-size: 14px !important;
    }

    .cartProductQuantity svg{
        width: 20px !important;
        height: 20px !important;
    }

    .cartProductQuantityChange svg{
        width: 16px !important;
        height: 16px !important;
    }

    .cartProductQuantityChange{
        font-size: 12px;
        gap:8px;
    }

    
}