.addSubBlock{
    width:320px;
    height: 160px;
    border:2.5px solid rgba(74, 123, 217, 1);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap:14px;
    justify-content: center;
    padding: 27px 53px;
    align-items: center;
}


.addSubBlock span{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}