.filters {
	display: flex;
	gap: 12px;
	margin-bottom: 16px;
	width: 80%;
}

.select {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 6px;
}

.input {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 6px;
	width: 100%;
}