.text-main { /* temp */
  color: var(--main-text);
}

.text-minor { /* temp */
  color: var(--minor-text);
}

.header-1 {
  font-weight: 600;
  letter-spacing: -2%;
  line-height: 48px;
  size: 40px;
}

.header-2 {
  font-weight: 600;
  letter-spacing: -1.5%;
  line-height: 36px;
  size: 32px;
}

.header-3 {
  font-weight: 500;
  letter-spacing: -1.5%;
  line-height: 28px;
  size: 24px;
}

.text-1 {
  font-weight: 700;
  letter-spacing: 2%;
  line-height: 28px;
  size: 18px;
}

.text-2 {
  font-weight: 400;
  letter-spacing: 2%;
  line-height: 28px;
  size: 18px;
}

.text-3 {
  font-weight: 700;
  letter-spacing: 2%;
  line-height: 24px;
  size: 16px;
}

.text-4, .button-primary, .button-primary-icon {
  font-weight: 400;
  letter-spacing: 2%;
  line-height: 24px;
  size: 16px;
}

.text-5 {
  font-weight: 400;
  letter-spacing: 2%;
  line-height: 24px;
  size: 14px;
}

.button {
  color: var(--minor-text);
  border-radius: 4px;
  padding: 8px 32px 8px 32px;
}

.button:disabled {
  opacity: 50%;
}

.button-icon {
  border-radius: 4px;
  padding: 12px;
}

.button-primary {
  border: 2.5px solid var(--main-primary);
}

.button-primary:hover {
  background-color: var(--minor-pr-hover);
  border: 2.5px solid var(--main-primary);
}

.button-primary:active {
  background-color: var(--minor-pr-press);
}

.button-secondary {
  border: 2.5px solid var(--main-secondary);
}

.button-secondary:hover {
  box-shadow: 0px 1px 7px -5px color-mix(in srgb, var(--minor-dark-blue) 45%, transparent);
}

.button-secondary:active {
  background-color: var(--minor-blue);
}

.button-tertiary {
  background-color: transparent;
}

.button-tertiary:hover {
  background-color: var(--minor-light-blue);
}

.button-tertiary:active {
  background-color: var(--minor-blue);
}

.button-destructive {
  border: 2.5px solid var(--minor-destructive);
}

.button-destructive:hover {
  box-shadow: 0px 1px 7px -5px color-mix(in srgb, var(--minor-dark-red) 50%, transparent);
}

.button-destructive:active {
  background-color: var(--minor-light-red);
}
