.text-main {
  color: var(--main-text);
}

.text-minor {
  color: var(--minor-text);
}

.bg-secondary {
  background-color: var(--main-secondary);
}

.bg-dark-blue {
  background-color: var(--minor-dark-blue);
}

.header-1 {
  font-weight: 600;
  letter-spacing: -2%;
  line-height: 48px;
  size: 40px;
}

.header-2 {
  font-weight: 600;
  letter-spacing: -1.5%;
  line-height: 36px;
  size: 32px;
}

.header-3 {
  font-weight: 500;
  letter-spacing: -1.5%;
  line-height: 28px;
  size: 24px;
}

.text-1 {
  font-weight: 700;
  letter-spacing: 2%;
  line-height: 28px;
  size: 18px;
}

.text-2 {
  font-weight: 400;
  letter-spacing: 2%;
  line-height: 28px;
  size: 18px;
}

.text-3 {
  font-weight: 700;
  letter-spacing: 2%;
  line-height: 24px;
  size: 16px;
}

.text-4, .button, .label {
  font-weight: 400;
  letter-spacing: 2%;
  line-height: 24px;
  size: 16px;
}

.text-5, .input {
  font-weight: 400;
  letter-spacing: 2%;
  line-height: 24px;
  size: 14px;
}

.button {
  color: var(--minor-text);
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px 32px;
}

.button:disabled {
  opacity: 50%;
  pointer-events: none;
}

.button-icon {
  padding: 12px;
}

.button-primary {
  background-color: var(--main-primary);
}

.button-primary:hover {
  background-color: var(--minor-pr-hover);
  border: 2.5px solid var(--main-primary);
}

.button-primary:active {
  border: none;
  background-color: var(--minor-pr-press);
}

.button-secondary {
  border: 2.5px solid var(--main-secondary);
}

.button-secondary:hover {
  box-shadow: 0px 1px 7px -5px color-mix(in srgb, var(--minor-dark-blue) 45%, transparent);
}

.button-secondary:active {
  box-shadow: none;
  background-color: var(--minor-blue);
}

.button-tertiary {
  background-color: transparent;
}

.button-tertiary:hover {
  background-color: var(--minor-light-blue);
}

.button-tertiary:active {
  background-color: var(--minor-blue);
}

.button-destructive {
  border: 2.5px solid var(--minor-destructive);
}

.button-destructive:hover {
  box-shadow: 0px 1px 7px -5px color-mix(in srgb, var(--minor-dark-red) 50%, transparent);
}

.button-destructive:active {
  box-shadow: none;
  background-color: var(--minor-light-red);
}

.input-container {
  position: relative;
}

.input-container label {
  background-color: var(--minor-objects);
  color: var(--minor-text);
  padding: 0 4px;
  position: absolute;
  top: -12px;
  left: 20px;
}

.input-container input {
  border: 1.5px solid color-mix(in srgb, var(--minor-text) 50%, transparent);
  border-radius: 4px;
  padding: 12px 20px;
  color: var(--minor-text);
  background-color: var(--minor-objects);
}

.input-container input::placeholder {
  color: color-mix(in srgb, var(--minor-text) 25%, transparent);
}

.input-container input:focus {
  outline: none;
  border: 2px solid var(--minor-text);
}

.icon-main-text svg * {
  stroke: var(--main-text);
}

.icon-main-text:hover svg * {
  stroke: var(--minor-blue);
}
