.ppcb{
    display: flex;
    gap:24px;
    flex-direction: column;
    border-bottom: 2.5px solid rgba(204, 221, 255, 1);
    padding-bottom: 48px;
}

.ppcbSpan{
    color:rgba(14, 32, 66, 1);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.3px;
}

.ppcb0{
    display: flex;
    gap:24px;
}

.ppcb11{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.ppcbB{
    display: flex;
    gap:24px;
}

@media (max-width: 400px) {
    .ppcb{
        flex-direction: column;
    }

    .ppcb0{
        flex-direction: column;
    }

    .ppcbB{
        flex-direction: column;
    }
}