.ppcb{
    display: flex;
    gap:24px;
    flex-direction: column;
}

.ppcbSpan{
    color:rgba(14, 32, 66, 1);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.3px;
}

.ppcb0{
    display: flex;
    gap:24px;
}