

.modalCodeBlock0{
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;

}

.modalCodeBlock{
    display: flex;
    margin-top:56px;
    margin-bottom: 56px;
    flex-direction: column;
    justify-content: space-between;
}

.backButtonBlock{
    display: flex;
    gap:6px;
    max-height: 40px;
}

.backButton{
    background-color: transparent;
    border: none;
    padding: 0;
    color: rgba(14, 32, 66, 1);
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing:0.3px ;
}



.enterCodeBlock{
    margin-top: 139px;
    margin-bottom: 139px;
    display: flex;
    flex-direction: column;
    gap:8px;
}





@media (max-width: 400px) {
    .imgReactangle{
        display:none;
    }

    .modalCodeBlock0{
        padding: 0;
    }

    .modalCodeBlock{
        margin: 0;
    }

    .btnDiv{
        display: flex;
    align-items: center;  
justify-content: center;  }
}