.signUpForm{
    position: relative;
    display: flex;
    flex-direction: column;
}





.showButton{
 background: transparent;
 border: none;
 padding: 0 !important;


}


  
.wantToLogIn{
    display: flex;
    justify-content: center;
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
}


.wantToLogIn a{
  cursor: pointer;
}