.signUpForm{
    position: relative;
    display: flex;
    flex-direction: column;
}








  
.wantToLogIn{
    display: flex;
    justify-content: center;
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
}


.wantToLogIn a{
  cursor: pointer;
}




@media (max-width: 400px) {
  .buttonBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wantToLogIn span{
    font-size: 12px;
    line-height: 16px;
  }
}