

.modalSignUpBlock0{
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.modalSignUpBlock{
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
}





.signUpForm{
    margin-top: 5.3125rem; ;

}

.tAp{
    margin-top: 32px;
}



@media (max-width: 400px) {
    .imgReactangle{
        display:none;
    }

    .modalSignUpBlock{
        margin-top: 42px;
    }
    .modalSignUpBlock0{
        padding: 0;
    }

    .tAp{
        margin-top: 12px;
        font-size: 12px;
        line-height: 16px;
    }
}