.signUpForm{
    position: relative;
    display: flex;
    flex-direction: column;
}

.inputWrappersBlock{
    margin-bottom: 5.3125rem;
}

.inputWrapper {
    border: 1.5px solid rgba(14, 32, 66, 0.5);
    border-radius: 4px;
    position: relative;
    height: 58px;
    margin: 0 !important;
    padding: 8px 20px 18px 20px !important;
    display: flex;
    align-items: center; 
    box-sizing: border-box;
  }
  
  .inputWrapper legend {
    padding: 0 4px;
    font-size: 16px;
    font-family: 'Mulish';
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(14, 32, 66, 1);
  }
    
  .inputWrapper input {
    width: 100%;
    padding-right: 48px;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0 !important;
    font-family: 'Mulish';
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(14, 32, 66, 1);
    align-self: center;
    background-color: rgba(244, 250, 255, 1);

  }

.showButton{
 background: transparent;
 border: none;
 padding: 0 !important;


}


  
.wantToLogIn{
    display: flex;
    justify-content: center;
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
}


.wantToLogIn a{
  cursor: pointer;
}