.header {
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: 1.5px solid rgba(204, 221, 255, 1);
	border-bottom: 1.5px solid rgba(204, 221, 255, 1);
	font-size: 32px;
	line-height: 36px;
	font-weight: 600;
	letter-spacing: -0.3px;

}

.productDet {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
}

.addDetailBtn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
}

.addProductDetail {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
}